@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bfbebe;
  border-radius: 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
} */

/* ::-webkit-scrollbar-thumb:horizontal{
  background: #000;
  border-radius: 10px;
  he
} */


.container-upload {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #0000007d;
}

.container-upload:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.title-streamer {
  @apply relative;
}

.title-streamer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #00000079;
  @apply rounded-md;
}
.title-streamer.active::after  {
  background: transparent;
  @apply border-2 border-indigo-500 shadow-md;
}

.error {
  color: rgba(255,15,0,.75);
}