@import 'main';

body {
  display: -webkit-box;
  display: -ms-flexbox;
  background: #070707;
  color: #fff;
  max-width: 430px;
  min-width: unset;
  margin: 0 auto;
}

#auth-page {
  img {
    display: unset;
  }

  .back-header {
    @apply flex items-center;
    height: 112px;

    .back {
      @apply cursor-pointer font-montserrat font-bold p-6;
      line-height: 26px;
      font-size: 12.4819px;
      letter-spacing: 0.1373px;
      color: rgba(255, 255, 255, 0.5);

      img {
        @apply px-1 w-[24px];
      }
    }
  }

  .user {
    @apply flex flex-col text-white pt-16 mx-3 px-4;
    @media only screen and (max-width: 320px) {
      @apply mx-1;
    }

    min-height: calc(100vh - 112px);
    color: #aeaeae;
    border-radius: 50px 50px 0px 0px;

    background: linear-gradient(180deg, #1c1c1c 0%, rgba(28, 28, 28, 0) 100%),
      linear-gradient(180deg, #2c2c2c 0%, rgba(255, 255, 255, 0) 100%);

    border: 1.23px solid #3a3a3a;
    border-bottom: none;

    a {
      @apply text-white no-underline;
    }

    .logo {
      @apply text-center;
    }

    h1 {
      @apply font-montserrat font-semibold text-center text-white pt-6;
    }

    h2 {
      @apply font-medium font-lato text-center;
    }

    button {
      @apply relative text-[21.2441px] leading-[22px] align-middle items-center text-center bg-inherit font-lato font-medium p-4 my-4 cursor-pointer;
      @media only screen and (max-width: 375px) {
        @apply text-[18px];
      }
      @media only screen and (max-width: 360px) {
        @apply text-[18px];
      }
      @media only screen and (max-width: 320px) {
        @apply text-[16px];
      }
      @media only screen and (max-width: 280px) {
        @apply text-[13px];
      }

      img {
        @apply absolute top-2 left-2;
      }

      color: #aeaeae;
      border: 1.23258px solid #333333;
      border-radius: 4.31404px;
    }
    > div {
      &:last-child {
        @apply text-center p-4 font-lato font-medium text-[18px] leading-[21px];
      }
    }
  }

  .error {
    @apply font-lato font-medium text-[18px] leading-[22px] not-italic;
    color: rgba(255, 15, 0, 0.75);
  }

  .user-email,
  .user-phone {
    @apply flex flex-col text-white pt-16;
    color: #aeaeae;

    a {
      @apply text-white no-underline;
    }

    .logo {
      @apply block text-center;
    }

    h1 {
      @apply font-montserrat font-semibold text-white px-4 text-[20px];
    }

    form {
      @apply flex flex-col p-4;

      label {
        @apply flex text-[14px] leading-[27px] py-4 text-white font-montserrat;
        letter-spacing: 0.145567px;
      }

      input {
        @apply flex leading-[22px] bg-inherit text-white border-0 font-lato;
        border-bottom: 1.23258px solid #333333;
        font-size: 18.5267px;
      }

      button {
        @apply my-8 p-[11px] border-0 font-montserrat font-bold text-[21.2441px] leading-[28px] cursor-pointer text-center;
        background: linear-gradient(180deg, #f11e22 0%, #912a89 100%);
        box-shadow: 1.32776px 1.32776px 3.98328px rgba(0, 0, 0, 0.25);
        border-radius: 7.96655px;
        letter-spacing: 0.146054px;
        color: rgba(255, 255, 255, 0.8);
        &.disabled {
          @apply cursor-not-allowed;
          background: linear-gradient(180deg, #292929 0%, #1d1d1d 100%);
          box-shadow: 1.32776px 1.32776px 3.98328px rgba(0, 0, 0, 0.25);
          border-radius: 7.96655px;
        }
      }
    }

    div {
      @apply text-center py-4 font-montserrat text-white;
      a {
        color: #1ca0ff;
      }
      &.error {
        color: #ff0f00bf;
      }
      &.left {
        @apply text-left;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.145567px;
        &.larger {
          font-size: 16px;
          line-height: 21px;
          letter-spacing: 0.145933px;
          opacity: 0.8;

          a {
            @apply font-bold text-white;
          }
        }
      }

      .error {
        @apply font-lato font-medium leading-[22px];
        color: #ff0f00bf;
        font-size: 18.5267px;
      }
    }
  }
}
