@import 'main';
@import 'rc-slider/assets/index.css';
@import 'swiper/css';

$height-image-carousel: 350px;

@function calcHeigthPoster($width, $gap) {
  $poster-width: $width - $gap;
  @return $poster-width * 1.5;
}

.Clix-Carousel {
  width: 100%;
}

#carousel-wrapper {
  @apply overflow-hidden;
}

.score .point {
  @apply font-designer;
  font-size  : 25px;
  line-height: 30px;
  text-shadow: 1.75583px 1.75583px 5.26751px rgba(0, 0, 0, 0.25);
}

.average-rating {
  position  : relative;
  appearance: none;
  color     : transparent;
  width     : auto;
  display   : inline-block;
}

.average-rating::before {
  // --percent: calc(var(--clixScore)/5*100%);
  content  : '★★★★★';
  position : absolute;
  top      : 0;
  color    : rgba(0, 0, 0, 0.2);
  background:
    linear-gradient(90deg, gold var(--percent), rgba(168, 168, 168, 0.3) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size              : 12px;
  @apply left-1/2 -translate-x-1/2;
}

.score-group {
  @apply flex flex-col items-center font-designer pt-[2px] mt-[10px] w-[40%] mx-auto rounded-[5px];
  background-color: rgba(43,43,43,0.6);
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  backdrop-filter: blur(1px);

  .hero-score {
    @apply flex items-center;

    img {
      margin-bottom: 3px;
      margin-right : 3px;
    }

    .label-text {
      @apply text-[7.4px];
      background             : linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.91) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip        : text;
    }
  }

  .point {
    @apply text-[24.8px];
    text-shadow: 1.75583px 1.75583px 5.26751px rgba(0, 0, 0, 0.25);
    line-height: 25px;
  }

  .comming-soon {
    @apply w-full text-center;
    text-shadow: 1.675578236579895px 1.675578236579895px 5.026735782623291px 0px rgba(0, 0, 0, 0.25);
    font-weight                          : 400;
    line-height: 18px;
    font-size: 12px;
    .day {
      font-size: 23.702px;
    }
  }
}

.carousel-cell>img {
  width             : 100%;
  height            : $height-image-carousel;
  border-radius     : 10px;
  -webkit-box-shadow: 0 0 18px #ffffff;
  box-shadow        : 0 0 18px #ffffff;
}

.streamer-logo {
  .streamer-more {
    @apply font-semibold;
  }
}

.carousel-slot .stars {
  display        : none;
  padding        : 15px 0 0 0;
  margin         : 0;
  justify-content: center;
}

.carousel-slot .stars>img {
  object-fit: cover;
  width     : 20px;
  height    : 20px;
}

.carousel-slot .rating {
  display        : none;
  flex-direction : row;
  padding        : 10px 0;
  margin         : 0;
  justify-content: center;
  align-content  : center;
  align-items    : center;
  height         : 30px;
  width          : 100%;
  line-height    : 30px;
}

.carousel-slot .rating div>img {
  object-fit  : fill;
  width       : 50px;
  height      : 30px;
  margin-right: 5px;
}

.carousel-slot .rating .rating-text {
  color          : white;
  font-family    : 'Montserrat', sans-serif;
  font-size      : 16px;
  line-height    : 30px;
  font-weight    : 600;
  display        : flex;
  justify-content: center;
  align-items    : center;
  margin-top     : 2px;
}

.default-streamer {
  width          : 100%;
  height         : 71px;
  display        : flex;
  justify-content: center;
  align-items    : center;
  padding        : 12px;
  background     : linear-gradient(180deg, #081340 0%, #0e2278 100%);
  box-shadow     :
    inset 0px 5px 6px -2px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}

.border-solid-gradient {
  background-clip  : padding-box, border-box;
  background-origin: padding-box, border-box;
  border-color     : transparent;
}

// End


.pills {
  @apply relative text-white px-2;
  display              : flex;
  grid-template-rows   : auto auto;
  grid-auto-flow       : column;
  overflow-x           : scroll;
  gap                  : 7px;
  max-height           : 106px;
  // flex-wrap         : wrap;
  overflow             : auto;
}

.pill {
  background-image: linear-gradient(180deg, #272727 0%, #0E0E0E 100%);
  border          : 1px solid rgba(103, 103, 103, 0.5);
  border-radius   : 107px;
  flex-shrink     : 0;
}

.pill__active {
  border: 2px solid #2C2C2C;
  background: linear-gradient(180deg, #F11E22 0%, #912A89 100%);
  box-shadow: 0px 4.7px 5.6px -1.8px rgba(255, 255, 255, 0.25) inset;
}

.scene {
  perspective : 1200px;
  position    : relative;
  width       : 100%;
  margin      : 0 auto;
  touch-action: pan-y;
  transition: transform 2s;
}

.carousel {
  width          : 100%;
  height         : 100%;
  position       : absolute;
  transform-style: preserve-3d;
  // transition     : transform 0.2s;
  // transform      : translateZ(-200px);
}

.carousel__cell {
  position  : absolute;
  left      : 7px;
  top       : 7px;
  color     : white;
  text-align: center;
  transition: transform 1s;
}



.locked-carousel {
  .carousel__poster img {
    width           : 100%;
    height          : 100%;
    border-radius   : 6.5px;
    filter          : drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.9));
    background-image: linear-gradient(180deg, #868686 0%, #252525 100%);


    &.default {
      object-fit: none !important;
    }
  }

  .carousel-cell {
    @apply pointer-events-none;
    max-width       : 316px;
    border-radius   : 5px;

    .share {
      @apply hidden;
    }

    .cell-bottom {
      @apply relative z-[1] opacity-0;

      .score-group {
        @apply mt-4;
        padding: 2px 13px;
        .hero-score {
          img {
            margin-top: 2px;
          }
        }
      }

      .action {
        @apply rounded;
        height         : 41px;
        padding        : 5px;
        margin-top     : -6px;
        margin-left    : -6px;
        margin-right   : -6px;
        margin-bottom: 12px;

        button {
          @media screen and (max-width: 320px) {
            font-size: 6px;
          }
          @media screen and (min-width: 421px) {
            font-size: 12.4px;
          }
        }
      }
    }
  }

  .swiper-slide {
    opacity: 0.3;
  }
  .swiper-slide-active {
    @apply pointer-events-auto;
    opacity: 1;
    transition: opacity .5s ease-in-out;

    .cell-bottom {
      opacity   : 1 !important;
      transition: opacity .5s ease;
    }

    .share {
      @apply inline-block;
    }
  }
}


.header {
  @apply flex items-center h-[52px];
  background: linear-gradient(180deg, #161616 0%, #212121 100%);
}
.hero {
  .ads {
    @apply w-full h-[60px] rounded-[6px] bg-[#3E3E3E] mb-[8px];

    .lv-block {
      @apply flex items-center justify-center flex-col font-extrabold w-[15%] h-full;
      background   : radial-gradient(50% 50% at 50% 50%, #303030 0%, #242424 100%);
      border       : 1.23359px solid rgba(255, 255, 255, 0.1);
      box-shadow   : inset 0px 0px 6.16794px rgba(0, 0, 0, 0.25);
      border-radius: 4.31756px;
      text-shadow  : 1.23359px 1.23359px 3.70076px rgba(0, 0, 0, 0.25);

      .value {
        font-size: 32.0733px;
      }

      .label {
        font-size: 12.3359px;
      }
    }
  }
}

.lv-progress-bar {
  @apply relative flex items-center w-full rounded overflow-hidden;
  height           : 24px;
  background       : linear-gradient(180deg, #292929 0%, #1D1D1D 100%);
  border           : 1px solid rgba(255, 255, 255, 0.1);
  background-origin: border-box;

  .lv-indicator {
    @apply transition-[width] duration-1000 rounded-sm h-full;
    background: radial-gradient(79.94% 79.94% at 76.98% 12.23%, #FD5F5D 0%, #EF221F 28.13%, #8D2A84 100%);
    box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.12), inset 0px 2.99282px 3.59138px -1.19713px rgba(255, 255, 255, 0.25);
  }

  .lv-text-indicator-wrapper {
    @apply absolute flex justify-between items-center w-full h-full gap-1 px-2;

    .lv-text-indicator {
      @apply text-[12px];
      letter-spacing: 0.05em;
      color         : rgba(255, 255, 255, 1);
      text-shadow: 1.71212px 1.71212px 5.13635px rgba(0, 0, 0, 0.25);
      margin-top: 3px;;
      &.value {
        @apply font-bold absolute left-1/2 -translate-x-1/2;
      }

      &.next-level-text {
        color : rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.daily-stat {
  color: rgba(255, 255, 255, 0.8);

  .stat-header {
    @apply flex flex-col justify-center w-full font-designer;

    .stat-top {
      @apply flex items-center gap-3 w-full rounded-full mb-[2px] px-2 py-[3px];
      height           : 28px;
      background       : linear-gradient(180deg, #272727 0%, #0E0E0E 100%);
      border           : 1px solid rgba(255, 255, 255, 0.1);
      box-shadow       : 0px 2px 10px rgba(0, 0, 0, 0.25);
      background-origin: border-box;

      .label-text {
        @apply mt-[3px];
      }

      .point-text {
        @apply font-black font-montserrat;
        font-size  : 15px;
        line-height: 24px;
        display    : flex;
        align-items: center;
        color      : #FFFFFF;
        opacity    : 0.9;
      }
    }

    .title {
      @apply flex ml-1 text-white/80 opacity-90;
      font-size: 12px;
    }

    .total-balance {
      @apply flex items-center;
      font-size: 12px;
      color    : rgba(255, 255, 255, 1);
    }
  }

  // .stats {
  //   border: 1.23781px solid rgba(255, 255, 255, 0.1);
  //   @apply flex items-center justify-between gap-1 px-2 pb-[5px] pt-[15px] border-t-0;
  //   border-radius: 0 0 7px 7px;
  //   background   : linear-gradient(180deg, #1E1E1E 0%, #1B1B1B 100%);

  //   .stat {
  //     @apply flex flex-col items-center justify-center;
  //     width: calc(100% / 4);

  //     .label {
  //       @apply font-black mb-1;
  //       font-size     : 6px;
  //       line-height   : 7px;
  //       text-transform: uppercase;
  //       color         : rgba(255, 255, 255, 0.75);

  //       @media screen and (max-width: 359px) {
  //         font-size: 5.5px;
  //       }
  //     }

  //     .value {
  //       @extend .btn-primary;
  //       @apply flex items-center justify-center font-black min-h-full h-[26px] rounded-none;
  //       font-size  : 12px;
  //       line-height: 15px;
  //       color      : rgba(255, 255, 255, 0.9);
  //     }

  //     .radius-bl {
  //       @apply rounded-bl-md;
  //     }

  //     .radius-br {
  //       @apply rounded-br-md;
  //     }
  //   }
  // }


  .stats-container {
    @apply relative font-designer;

    .stats {
      @apply flex relative w-full rounded-[5.48333px] py-[1px] px-[0.2px] text-[8px] text-center;
      background: radial-gradient(
        67.1% 304.18% at 80.81% 6.45%,
        #ef221f 0%,
        #8d2a84 100%
      );

      .stat {
        @apply flex flex-col basis-1/4 relative w-full items-center justify-center ml-[1px] pt-3;
        background: linear-gradient(
          180deg,
          #141414 0%,
          rgba(15, 15, 15, 0.75) 100%
        );
        text-transform: uppercase;
        color         : rgba(255, 255, 255, 0.75);

        &:first-child {
          @apply rounded-tl-[5.48333px] rounded-bl-[5.48333px] -ml-[1px];
        }

        &:last-child {
          @apply rounded-tr-[5.48333px] rounded-br-[5.48333px] -mr-[1px];
        }

        .label {
          font-size     : 8px;
          margin-bottom: 2px;

          @media screen and (max-width: 415px) {
            font-size: 6.5px;
          }
        }

        .value {
          font-size  : 20px;
        }
      }
    }
  }
}

.btn-group {
  @apply flex justify-between mb-2;

  .action {
    @apply w-full flex items-center text-center justify-between cursor-pointer h-[24px] font-designer;
    background: #141414;
    border    : 1.23795px solid rgba(255, 255, 255, 0.15);

    &.active {
      background-image : linear-gradient(180deg, #F11E22 0%, #912A89 100%);
      box-shadow       : inset -1.23795px -1.23795px 6.18974px 1.23795px rgba(255, 255, 255, 0.1);
      border           : solid 0 transparent;
      background-origin: border-box;
      background-clip  : content-box, border-box;
    }

    .label {
      @apply w-full text-[12px] leading-[15px];
      color      : rgba(255, 255, 255, 0.9);
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    }
  }
}

.slug-container {
  @apply relative;
  background: $progress-indicator-color;
  padding: 1px 0;
  height       : 28px;
}

.slug {
  @apply flex justify-center items-center w-full;
  background   : linear-gradient(90deg, #111111 0%, #2E2E2E 52.71%, #111111 100%);

  span {
    @apply font-black;
    font-size     : 16px;
    line-height   : 26px;
    letter-spacing: 1px;
    color         : rgba(255, 255, 255, 0.9);
    text-shadow   : 2px 2px 6px rgba(0, 0, 0, 0.25);
  }

  &::before, &::after {
    content: "";
    width: 20%;
    height: 100%;
    position: absolute;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.00) 100%);
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.00) 100%);
  }
}

#drag-container,
#spin-container {
  // touch-action           : none;
  // margin: auto;
  // position: relative;
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: flex;
  -webkit-transform-style: preserve-3d;
  transform-style        : preserve-3d;
  // -webkit-transform: rotateX(-0deg);
  // transform: rotateX(-0deg);

  // perspective: 2000px;

}

// .carousel-slot {
//   -webkit-transform-style: preserve-3d;
//   transform-style: preserve-3d;
//   position: absolute;
//   left: 0;
//   top: 0;
//   line-height: 200px;
//   font-size: 50px;
//   text-align: center;
//   background-color: transparent;
//   padding: 20px;
//   display: flex;
//   flex-direction: column;
//   /*background-color: black;*/
// }

// @-webkit-keyframes spin {
//   from {
//     -webkit-transform: rotateY(0deg);
//     transform        : rotateY(0deg);
//   }

//   to {
//     -webkit-transform: rotateY(360deg);
//     transform        : rotateY(360deg);
//   }
// }

// @keyframes spin {
//   from {
//     -webkit-transform: rotateY(0deg);
//     transform        : rotateY(0deg);
//   }

//   to {
//     -webkit-transform: rotateY(360deg);
//     transform        : rotateY(360deg);
//   }
// }

@-webkit-keyframes spinRevert {
  from {
    -webkit-transform: rotateY(360deg);
    transform        : rotateY(360deg);
  }

  to {
    -webkit-transform: rotateY(0deg);
    transform        : rotateY(0deg);
  }
}

@keyframes spinRevert {
  from {
    -webkit-transform: rotateY(360deg);
    transform        : rotateY(360deg);
  }

  to {
    -webkit-transform: rotateY(0deg);
    transform        : rotateY(0deg);
  }
}

.other-genre {
  @apply relative w-full min-h-[180px] text-center px-3 pt-3;
  background: #181818;

  box-shadow: 0px 3px 10.2703px rgba(255, 255, 255, 0.19), inset 0px 5px 6px -2px rgba(255, 255, 255, 0.25);

  .top {
    @apply text-[12.4022px] font-semibold text-white;
  }

  .genres {
    $genre-poster-gap   : 8px;
    $genre-poster-width : calc(#{(100% / 4)} - #{$genre-poster-gap});
    $genre-poster-height: calc((#{$genre-poster-width} * 1.5));
    @apply flex;
    margin-right: #{- $genre-poster-gap};

    .item {
      @apply flex;
      filter       : drop-shadow(1.24022px 1.24022px 3.72067px rgba(0, 0, 0, 0.25));
      margin-right : $genre-poster-gap;
      border-radius: 13.6425px;
      width        : $genre-poster-width;
      height       : $genre-poster-height;
      min-height: 143px;

      @media only screen and (max-width: 375px) {
        min-height: 122px;
      }

      @media only screen and (max-width: 320px) {
        min-height: 105px;
      }

      img {
        border-radius: 13.6425px;
      }
    }
  }

  .bottom {
    @apply flex justify-center items-center gap-1 w-full font-bold text-[12.4022px] mt-1;
    line-height   : 26px;
    letter-spacing: 0.136425px;
    color         : rgba(255, 255, 255, 0.7);
  }
}

.rating-group {
  @apply flex text-center;

  .label-text {
    font-size  : 12px;
    line-height: 10px;
    color      : rgba(255, 255, 255, 0.9);
  }

  .not-seen,
  .seen {
    .label-text {
      @apply font-designer mb-1;
    }
  }

  .action-group {
    @apply text-center;

    div {
      width: 62px;
    }
  }

  .action-label-text {
    font-size: 7px;
    @apply font-black;
    line-height: 10px;
    color      : rgba(255, 255, 255, 0.9);
  }

  .grouped-elements {
    @apply flex justify-center gap-2;

    .grouped-element {
      @apply flex items-center justify-center flex-col;
    }
  }
}

.rating-container {
  min-height: 70px;
}

.sweep-stakes-container {
  @apply mx-3 font-designer uppercase mt-5;
  box-shadow   : 1.41595px 1.41595px 4.24784px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  @extend .border-primary;
  background-image: linear-gradient(180deg, #0E0E0E 0%, #212121 100%), linear-gradient(155deg, #ee1a21 10%, #902886 50%);
  border          : solid 1px transparent;
  color           : rgba(255, 255, 255, 0.9);

  .sweep-stakes-wrapper {
    @apply flex flex-col items-center px-3 py-4 w-full;
  }

  .title {
    @apply px-7 mb-6;
    background   : #111111;
    border-radius: 7px;
    box-shadow   : 2px 2px 6px rgba(0, 0, 0, 0.25), inset -1px -1px 4px rgba(57, 57, 57, 0.25);
    border       : 0.5px solid rgba(255, 255, 255, 0.2);
    opacity      : 0.9;

    h1 {
      margin-top    : 2px;
      font-size     : 22px;
      text-transform: uppercase;
      color         : rgba(255, 255, 255, 0.9);
    }
  }

  .sweep-stakes {
    @apply flex flex-col gap-3 w-full;

    .sweep-stake {
      .genre-label {
        @apply ml-3;
        font-size  : 14px;
        text-shadow: 1.71212px 1.71212px 5.13635px rgba(0, 0, 0, 0.25);
      }

      .genre-info {
        @apply flex gap-2;

        .progress-container {
          @apply w-full;

          .progress {
            @apply relative flex items-center p-1 w-full rounded-full;
            height           : 28px;
            background       : linear-gradient(180deg, #292929 0%, #1D1D1D 100%);
            border           : 1px solid rgba(255, 255, 255, 0.1);
            background-origin: border-box;

            .indicator {
              @apply flex items-center justify-center transition-[width] duration-1000 rounded-full px-1;
              height    : 20px;
              background: radial-gradient(79.94% 79.94% at 76.98% 12.23%, #FD5F5D 0%, #EF221F 28.13%, #8D2A84 100%);
              box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.12), inset 0px 2.99282px 3.59138px -1.19713px rgba(255, 255, 255, 0.25);
            }

            .text-indicator {
              @apply flex justify-center w-full text-[11px];
              letter-spacing: 0.05em;
              color         : rgba(255, 255, 255, 0.9);
              text-shadow   : 1.23359px 1.23359px 3.70076px rgba(0, 0, 0, 0.25);
            }
          }
        }

        .clix-btn {
          @apply w-[105px] rounded-full;
          font-size: 10px !important;
        }
      }
    }
  }

}

.no-data-msg {
  @apply text-[#ebdcdcb3] text-[10px];
}
