header {
  &.main__header {
    @apply relative flex items-center px-3 py-1 bg-[linear-gradient(180deg,#161616_0%,#212121_100%)] h-[52px];
    @media only screen and (max-width: 280px) {
      @apply w-[280px];
    }
    .logo {
      @apply flex absolute left-1/2 -translate-x-1/2;
      @media only screen and (max-width: 280px) {
        @apply left-1/3 -translate-x-1/3;
      }
    }
    .avatar {
      @apply w-[36px] h-[36px] aspect-auto rounded-full cursor-pointer;
    }
    div {
      &.right {
        @apply flex gap-3 ml-auto items-center;
      }
    }
    ul {
      @apply absolute top-12 right-0 hidden z-20 min-w-[120px] bg-black/30 ease-in;
      &.active {
        @apply block;
      }
      li {
        @apply block w-full cursor-pointer select-none rounded-md p-4 text-end;
      }
    }
    .menu {
      @apply absolute top-[52px] left-0 z-50 w-screen ease-in bg-black overflow-y-scroll overflow-x-hidden;
      height: calc(100vh - 52px);
      max-width: 430px;
      &.hide {
        @apply hidden;
      }
      footer {
        .logo {
          position: unset;
          left: unset;
          transform: unset;
        }
        .links {
          font-weight: 600;
          font-size: 13.1097px;
          line-height: 25px;
          letter-spacing: 0.131097px;
          a {
            @apply p-2;
          }
        }
        div {
          &:last-child {
            @apply flex flex-row;
            font-weight: 600;
            font-size: 13.1097px;
            line-height: 25px;
            letter-spacing: 0.131097px;

            color: white;
            opacity: 0.5;
            a {
              @apply px-6;
            }

            @media only screen and (max-width: 375px) {
              @apply px-0;
              a {
                @apply px-3;
              }
            }
          }
        }
      }

      h2 {
        @apply absolute w-full top-0 left-0 p-4 text-center font-semibold text-[18px] leading-[22px];
      }

      section {
        @apply flex flex-col px-8 mx-4 pt-16 mt-16;
        @media only screen and (max-width: 414px) {
          @apply px-[30.64px] pt-[55.79px];
        }
        @media only screen and (max-width: 375px) {
          @apply px-[24px] pt-[46.11px];
        }
        @media only screen and (max-width: 320px) {
          @apply px-[21.85px] pt-[38.28px];
        }
        color: #aeaeae;
        border-radius: 45.2273px 45.2273px 0px 0px;

        background: linear-gradient(
            180deg,
            #1c1c1c 0%,
            rgba(28, 28, 28, 0) 100%
          ),
          linear-gradient(180deg, #2c2c2c 0%, rgba(255, 255, 255, 0) 100%);

        border: 1.23px solid #3a3a3a;
        border-bottom: none;

        button {
          @apply p-[15.75px] font-montserrat font-semibold text-[20px] leading-[24px] mb-6 cursor-pointer;
          &::last-child {
            @apply mb-0;
          }

          @media only screen and (max-width: 375px) {
            @apply text-[17.24px] leading-[21px] p-[12.2px];
          }
          @media only screen and (max-width: 320px) {
            @apply text-[14.47px] leading-[18px] p-[10.8px];
          }

          color: rgba(255, 255, 255, 0.9);

          text-shadow: 1.21999px 1.21999px 3.65996px rgba(0, 0, 0, 0.25);

          background: linear-gradient(180deg, #292929 0%, #1d1d1d 100%);
          border: 1.21999px solid rgba(255, 255, 255, 0.1);
          border-radius: 18.2998px;
        }
      }

      .back-header {
        @apply absolute z-30 inline-flex cursor-pointer font-montserrat font-semibold px-4 py-[11px];
        line-height: 26px;
        font-size: 12.4819px;
        letter-spacing: 0.1373px;
        color: rgba(255, 255, 255, 0.5);

        img {
          @apply px-1 w-[24px] m-auto;
        }
      }
    }
  }
}
