@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Lato';
    font-weight: 400;
    src: url('./fonts/Lato-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Lato';
    font-weight: 500;
    src: url('./fonts/Lato-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Lato';
    font-weight: 700;
    src: url('./fonts/Lato-Black.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('./fonts/Montserrat-Regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: url('./fonts/Montserrat-Medium.otf') format('opentype');
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url('./fonts/Montserrat-SemiBold.otf') format('opentype');
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('./fonts/Montserrat-Bold.otf') format('opentype');
  }

  @font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    src: url('./fonts/Montserrat-Black.otf') format('opentype');
  }

  @font-face {
    font-family: 'Designer';
    font-weight: 400;
    src: url('./fonts/Designer.otf') format('opentype');
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: none;
}

html,
body {
  height: 100%;
  touch-action: cross-slide-x;
  font-family: 'Montserrat', sans-serif;
}

body {
  @apply antialiased;
  display: -webkit-box;
  display: -ms-flexbox;
  background: #070707;
  color: #fff;
  max-width: 430px;
  min-width: 320px;
  margin: 0 auto;
}

@import 'header';
@import 'variables';

footer {
  @apply flex flex-col items-center text-center pt-8 text-white;
  div {
    @apply flex flex-col p-6 font-montserrat;
    &:last-child {
      @apply flex flex-row;
      font-weight: 600;
      font-size: 17.3416px;
      line-height: 33px;
      letter-spacing: 0.173416px;
      opacity: 0.5;
      a {
        @apply px-6;
      }
      @media only screen and (max-width: 375px) {
        @apply px-0;
        a {
          @apply px-3;
        }
      }
    }
  }
  .links {
    font-weight: 600;
    font-size: 17.3416px;
    line-height: 33px;
    letter-spacing: 0.173416px;
    a {
      @apply p-2;
    }
  }
  .socials {
    @apply flex flex-row;
    a {
      @apply px-4 flex items-center text-center;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f10f;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bfbebe4d;
  border-radius: 10px;
}

.center-item {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.modal {
  background: linear-gradient(180deg, #252525 0%, #1e1e1e 100%);
  border: 1.41595px solid rgba(255, 255, 255, 0.2);
  box-shadow: 1.41595px 1.41595px 4.24784px rgba(0, 0, 0, 0.25);
  border-radius: 29.0269px;
}

.modal__body {
  height: 100%;
}

/* Slider range */
.ranking-input {
  .rc-slider-handle::before {
    content: attr(aria-valuenow);
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 font-designer text-[14px] w-full h-full text-center;
  }
}
.rc-slider-handle {
  background: linear-gradient(180deg, #f11e22 0%, #912a89 100%);
  opacity: 1 !important;
  border: none !important;
  width: 20px !important;
  height: 20px !important;
  margin-top: -7px !important;
}

.rc-slider-handle:focus-visible {
  border-color: unset !important;
  box-shadow: 0 0 0 7px rgba(103, 80, 164, 0.08) !important;
}

.rc-slider-dot {
  background-color: #323232 !important;
  border: 2px solid #323232 !important;
  width: 5px !important;
  height: 5px !important;
  bottom: 1px !important;
}

.rc-slider-step {
  height: 7px !important;
}

.rc-slider-rail {
  background: rgba(255, 255, 255, 0.2) !important;
  height: 7px !important;
}

.rc-slider-handle,
.rc-slider-handle-dragging {
  box-shadow: 0 0 0 5px rgba(103, 80, 164, 0.15) !important;
  border: none !important;
}

.rc-slider-track {
  background: transparent !important;
  height: 7px !important;
}

.border-solid-gradient {
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border-color: transparent;
}

.coin-value {
  @apply text-center;
  letter-spacing: -0.402539px;
  color: #ffffff;
  text-shadow: 0.805078px 0.805078px 0.805078px rgba(0, 0, 0, 0.15);
}

.bg-primary {
  @apply bg-[linear-gradient(180deg,#F11E22_0%,#912A89_100%)];
}

.btn-primary {
  @extend .border-primary;
  width: 100%;
  gap: 5px;
  box-shadow: inset -1.01564px -1.01564px 5.0782px 1.01564px
    rgba(255, 255, 255, 0.1);
  // border    : solid 1px transparent;
  // @apply min-h-[35px];
  border-radius: 999px;

  &.active {
    @extend .border-primary, .bg-primary;
    border: solid 0 transparent;
  }

  .label {
    color: rgba(255, 255, 255, 0.9);
  }
}

.border-primary {
  background-image: linear-gradient(180deg, #101010 0%, #1c1c1c 100%),
    linear-gradient(180deg, #ee1a21 0%, #902886 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: solid 1px transparent;
}

.clix-btn {
  @apply flex justify-center items-center font-bold rounded;
  box-shadow: 0px 0px 52.829px rgba(0, 0, 0, 0.5);
  font-size: 2.6vw;
  line-height: 10px;
  letter-spacing: 0.0751174px;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1.5937px 1.5937px 4.78111px rgba(0, 0, 0, 0.25);
  border: 0.641908px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #292929 0%, #1d1d1d 100%);

  @media screen and (min-width:430px){
    @apply text-[14px]
  }

  &.border-gradient-primary {
    @extend .border-primary;
    background-image: linear-gradient(180deg, #292929 0%, #1c1c1c 100%),
      linear-gradient(180deg, #ee1a21 0%, #902886 100%);
    border: solid 0.85px transparent;
  }


  &.active-green {
    border-color: #36d44f;
  }
}

.right-action {
  border-radius: 4.77347px 23.8657px 23.8657px 4.77347px;
}

.clix-input {
  @apply relative w-full font-bold;
  height: 52px;
  background: #120f12;
  border-radius: 151.753px;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.145155px;
  color: rgba(255, 255, 255, 0.8);
  &.border-gradient-primary {
    @extend .border-primary;
    background-image: linear-gradient(180deg, #120f12 0%, #120f12 100%),
      linear-gradient(180deg, #ee1a21 0%, #902886 100%);
    border: solid 1px transparent;
  }

  input {
    @apply h-full w-full rounded-full bg-transparent px-3 pr-10 focus:outline-none placeholder-white/50;
  }
}
// SECOND NAV MENU
nav.menu {
  @apply relative flex items-center w-full h-full ease-in bg-[#070707];
  max-width: 430px;
  &.hide {
    @apply hidden;
  }

  h2 {
    @apply w-full text-center font-semibold text-[18px] leading-[22px];
  }

  .nav {
    @apply inline-flex items-center cursor-pointer font-montserrat font-semibold px-4 pt-[9px] pb-[8px];
    line-height: 26px;
    font-size: 12.4819px;
    letter-spacing: 0.1373px;
    color: rgba(255, 255, 255, 0.5);
    &:first-child {
      @apply left-0;
    }
    &:last-child {
      @apply right-0;
    }
    img {
      @apply px-1;
    }
  }
}

.secondary-btn {
  @apply w-1/2 py-2 capitalize text-[12px] text-center;
  background   : radial-gradient(79.94% 79.94% at 76.98% 12.23%, #FD5F5D 0%, #EF221F 28.13%, #8D2A84 100%);
  box-shadow   : 2px 2px 6px rgba(0, 0, 0, 0.25), inset 0px 3.81347px 4.57616px rgba(255, 255, 255, 0.25);
  border-radius: 6.20032px;
}
