@import 'main';

#market-place {
  @apply px-3 mt-1;

  .points {
    @apply flex p-1 items-center;
    background   : linear-gradient(180deg, #272727 0%, #0e0e0e 100%);
    border       : 1.24349px solid rgba(255, 255, 255, 0.1);
    box-shadow   : 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    img.clix-points {
      width : 83px;
      height: 15px;
    }

    >div {
      @apply flex w-full ml-4;

      >div {
        @apply flex w-full text-white font-designer text-[16px] leading-[15px] opacity-90 justify-center items-center pt-[2px];
        background    : #2c2c2c;
        border-radius : 99px;
        text-shadow   : 2px 2px 6px rgba(0, 0, 0, 0.25);
        letter-spacing: 0.02em;
      }

      @extend .border-primary;
      background-image: linear-gradient(180deg, #292929 0%, #1c1c1c 100%),
      linear-gradient(180deg, #ee1a21 0%, #902886 100%);
      border       : 1px solid transparent;
      box-shadow   : inset 1px 1px 2px rgba(0, 0, 0, 0.25);
      border-radius: 99px;
    }
  }

  h1,
  h3 {
    @apply font-montserrat italic font-black text-[15.6977px] text-white leading-[19px] bg-[#070707] px-3 mb-4;
  }

  .list {
    @apply px-3 w-full overflow-y-hidden overflow-x-auto whitespace-nowrap;

    .item {
      @apply w-[300px] rounded-[5.48333px] mr-3 inline-block;

      &:last-child {
        @apply mr-0;
      }

      .logo {
        img {
          @apply w-[300px] h-[170px] object-cover rounded-[5.48333px];
        }

        h4 {
          @apply w-[300px] whitespace-nowrap overflow-hidden font-montserrat font-black text-[16px] text-white leading-[135.9%] px-[10.5px] py-[20.5px] text-ellipsis;
        }
      }

      .process {
        @apply flex relative w-full rounded-[5.48333px] py-[1px] px-[0.2px];
        background: radial-gradient(67.1% 304.18% at 80.81% 6.45%,
            #ef221f 0%,
            #8d2a84 100%);

        .line {
          background: linear-gradient(180deg,
              #141414 0%,
              rgba(15, 15, 15, 0.75) 100%);
          @apply flex basis-1/4 h-16 border border-transparent relative w-full items-center justify-center ml-[1px];

          &:first-child {
            @apply rounded-tl-[5.48333px] rounded-bl-[5.48333px] ml-0;

            .percent {
              @apply absolute top-2 font-designer text-[10.0619px] leading-[10px] text-white;
              @extend .border-primary;
              border       : 1px solid #292929;
              border-radius: 6.65833px;

              span {
                @apply px-2 pt-[2px];
              }
            }
          }

          &:last-child {
            @apply rounded-tr-[5.48333px] rounded-br-[5.48333px];
          }

          .mark {
            height: 16.960796356201172px;
            width : 21.20099639892578px;
            @apply absolute top-[22px] z-20 font-designer text-[10.0619px] leading-[10px] text-white;
          }

          .point {
            @apply absolute top-[48px] z-20 font-designer text-[11.6251px] leading-[11px] text-white inline-flex;

            img {
              margin-top: -1px;
              width     : 12px;
              height    : 12px;
            }
          }

          .percent {
            @apply absolute top-2 font-designer text-[10.0619px] leading-[10px] text-white flex items-center justify-center;
            @extend .border-primary;
            background-image: linear-gradient(180deg, #292929 0%, #1c1c1c 100%),
              linear-gradient(180deg, #ee1a21 0%, #902886 100%);
            border       : 1px solid transparent;
            border-radius: 6.65833px;

            span {
              @apply px-2 pt-[2px];
            }
          }
        }

        .bar {
          @apply absolute z-10 left-[calc(12.5%-6px)] top-7 rounded-[5.48333px] w-[calc(75%+8px)] p-1;
          background: #272727;

          div {
            @apply rounded-[5.02319px] h-2 items-center;
            transform: matrix(-1, 0, 0, 1, 0, 0);
            background: radial-gradient(159.16% 295.39% at 5.4% 24.82%,
                #ef221f 0%,
                #8d2a84 100%);
          }
        }
      }
    }
  }

  .mk-place-custom {
    @apply flex w-full;
    border-radius   : 7.42px;
    background-image: radial-gradient(308.99% 103.68% at 80.81% 6.45%, #EF221F 0%, #8D2A84 100%);
    height          : 111px;
    color: rgba(255, 255, 255, 0.75);


    .wrapper {
      @apply w-full h-auto;
      border-radius: 7.42px;
      background   : linear-gradient(180deg, #141414 0%, rgba(15, 15, 15, 0.75) 100%);
      margin-top   : 3px;
      margin-bottom: 3px;

      .progress-bar {
        @apply relative h-full rounded-full font-designer;
        max-width : 316px;
        width     : 75%;
        height    : 20px;
        margin    : 30px auto;
        border    : 5px solid #272727;
        background: linear-gradient(90deg, #181818 0%, #414141 100%);

        &::after {
          content: "";
          @apply absolute h-full rounded-full transition-[width] duration-1000;
          width     : var(--percentClaimed);
          background: $progress-indicator-color;
        }

        .top {

          .begin,
          .end {
            @apply absolute top-0 z-[1] flex flex-col items-center;
            top: -27px;
          }

          .begin {
            left: -20px;
          }

          .end {
            right: -22px;
          }

          .peg {
            @apply flex flex-col items-center;

            .value {
              @apply rounded-full;
              border    : 1.06px solid rgba(255, 255, 255, 0.10);
              background: linear-gradient(180deg, #292929 0%, #1D1D1D 100%);
              padding   : 0 10px;
              font-size : 13.616px;
            }

            img {
              margin-top: -3px;
            }
          }
        }

        .bottom {

          .begin,
          .end {
            @apply absolute z-[1] flex flex-col items-center text-center;
            top: 20px;
          }

          .begin {
            left: -47px;
          }

          .end {
            right: -22px;
            .value, .label {
              color: rgba(255, 255, 255, 1);
            }
          }

          .peg {
            @apply flex items-center;

            .value {
              font-size: 15.732px;
            }



            img {
              margin-top: -3px;
            }
          }

          .label {
            font-size  : 10.601px;
            line-height: 105.2%;
            margin-left: 12px;
          }
        }
      }
    }
  }

  .rewards-card {
    @apply flex flex-col justify-center items-center gap-8 py-7 px-1;
    border-radius: 7.42px;
    background   : #161616;
    box-shadow   : 0px 6.7662739753723145px 8.119529724121094px -2.706509828567505px rgba(255, 255, 255, 0.25) inset;

    p {
      @apply text-white text-center font-montserrat italic font-black mt-2;
    }
  }
}

#market-place-details {
  @apply py-4 bg-transparent;

  ol {
    @apply list-decimal list-inside;

    li {
      @apply font-montserrat text-[13px] text-white/90;
    }
  }

  .more {
    @apply -mx-[14px];

    img {
      @apply w-full aspect-auto;
    }
  }

  .item {
    @apply w-full rounded-[5.48333px] mr-3 inline-block;

    h3 {
      @apply font-montserrat font-black text-[18px] text-white leading-[135%] px-[10.5px] pb-4;
    }

    h4 {
      @apply w-full whitespace-nowrap overflow-hidden font-montserrat font-black text-[16px] text-white/90 leading-[20px] py-[10.5px] text-ellipsis;
    }

    h5 {
      @apply w-full whitespace-nowrap font-montserrat font-medium text-[12px] text-white/90 leading-[15px] p-[10.5px];
    }

    &:last-child {
      @apply mr-0;
    }

    .logo {
      img {
        @apply w-full h-auto object-cover;
      }
    }

    .process {
      @apply flex relative w-full rounded-[5.48333px] py-[1px] px-[0.2px] mb-4;
      background: radial-gradient(67.1% 304.18% at 80.81% 6.45%,
          #ef221f 0%,
          #8d2a84 100%);

      .line {
        background: linear-gradient(180deg,
            #141414 0%,
            rgba(15, 15, 15, 0.75) 100%);
        @apply flex basis-1/4 h-[118px] border border-transparent relative w-full items-center justify-center ml-[1px];

        &:first-child {
          @apply rounded-tl-[5.48333px] rounded-bl-[5.48333px] ml-0;

          .percent {
            border: 1px solid #292929;

            span {
              @apply px-2 pt-[2px];
            }
          }
        }

        &:last-child {
          @apply rounded-tr-[5.48333px] rounded-br-[5.48333px];
        }

        .mark {
          height: 16.960796356201172px;
          width : 21.20099639892578px;
          @apply absolute top-[32px] z-20 font-designer text-[10.0619px] leading-[10px] text-white;
        }

        .point {
          @apply absolute top-[64px] z-20 font-designer text-[15.7317px] leading-[15px] text-white inline-flex;

          img {
            margin-top: -1px;
            width     : 15px;
            height    : 15px;
          }
        }

        .percent {
          @apply absolute top-3 font-designer text-[13.5156px] leading-[13px] text-white flex items-center justify-center;
          @extend .border-primary;
          background-image: linear-gradient(180deg, #292929 0%, #1c1c1c 100%),
            linear-gradient(180deg, #ee1a21 0%, #902886 100%);
          border       : 1px solid transparent;
          border-radius: 6.65833px;

          span {
            @apply px-2 pt-[2px];
          }
        }

        div:last-child {
          @apply absolute top-[86px] font-designer text-[10.6005px] leading-[105.2%] text-white text-center;
        }
      }

      .bar {
        @apply absolute left-[calc(12.5%-6px)] top-10 rounded-[5.48333px] w-[calc(75%+8px)] p-1;
        background: #272727;

        div {
          @apply rounded-[5.02319px] h-2 items-center;
          transform: matrix(-1, 0, 0, 1, 0, 0);
          background: radial-gradient(159.16% 295.39% at 5.4% 24.82%,
              #ef221f 0%,
              #8d2a84 100%);
        }
      }
    }
  }
}