@import 'main';

.welcome {
  @apply absolute z-10 flex bg-black items-center justify-center h-screen;
  inset: 0 auto 0 auto;

  > div {
    @apply p-2 relative w-full max-w-[430px] max-h-full;
  }

  button.close {
    @apply absolute top-8 right-8 rounded-md text-[#929292] hover:text-gray-500;
  }
  h3 {
    @apply font-montserrat font-medium text-[16.628px] leading-[14px] text-white block text-center pt-4;
    letter-spacing: 0.0753495px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  }
  .buttons {
    @apply flex mt-[21.5px];
    button {
      @apply text-white mx-auto font-semibold font-montserrat text-[18px] leading-[42px] min-w-[140px] min-h-[48px] bg-black;
      border-radius: 7px;
      letter-spacing: 0.22px;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
      border: 2px solid rgba(255, 255, 255, 0.2);
      &.signup {
        @extend .border-primary;
        background-image: linear-gradient(180deg, #292929 0%, #1c1c1c 100%),
          linear-gradient(180deg, #ee1a21 0%, #902886 100%);
        border: 2px solid transparent;
      }
    }
  }
  .body {
    @apply items-center justify-center text-center overflow-x-hidden overflow-y-auto max-h-[calc(100vh-12rem)] w-full;
    border: 1.8px solid rgba(255, 255, 255, 0.3);
    @extend .border-primary;
    border-radius: 26.9792px;
    background: rgba(15, 15, 15);
    box-shadow: inset 0px 4px 6px rgba(104, 104, 104, 0.25),
      inset 0px -4.49653px 0px rgba(0, 0, 0, 0.25);

    img {
      @apply mx-auto;
    }
    > div {
      @apply flex mb-[21px] px-[9px];

      div {
        @apply flex flex-col basis-1/2 text-left px-[5.5px];
        img {
          filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.25));
        }

        h4 {
          @apply font-montserrat font-bold text-white capitalize py-1;
          text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
        }
        p {
          @apply font-montserrat text-[13px] leading-[18px] text-white;
          letter-spacing: 0.0952494px;
          text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}
